<!--<p>product1 works!</p>-->
<link rel="stylesheet" href="product1.component.css">
<div id="product">
  <form action="">
    <label>
      <input type="text" placeholder="Name:">
    </label>
    <label>
      <input type="text" placeholder="Price:">
    </label>
    <label>
      <input type="text" placeholder="Bonus Rate:">
    </label>
    <label>
      <input type="text" placeholder="Is On Sale:">
    </label>
    <label>
      <input type="text" placeholder="Sale Percent age:">
    </label>
    <label>
      <input type="text" placeholder="Sale Bonus Rate:">
    </label>
  </form>
</div>
