body{
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgba(220, 220, 220, 0.33);
}

#product{
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
input{
  padding: 15px;
  border-radius: 10px;
  outline: none;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  font-size: medium;
}
